<!DOCTYPE>
<html>
	<head>
		<title>Небесные фонарики</title>
		<link rel="stylesheet" type="text/css" href="fonariki.css">
	</head>
	<body>
		<div class="all" id="contact">
			
				<table class="pic" id="p1"> 
					<tr>
						<td><%= image_tag 'pic1.jpg' %></td>
						<td>
							<h3>Дмитрий <br> Силаев</h3>
							<h4>по вопросам рекламы и сотрудничества</h4>
								<a href="http://vkontakte.ru/id4599721"> <%= image_tag 'vk.png', :class => 'ico' %></a>
								<a href="http://twitter.com/SSLgod"> <%= image_tag 'tw.jpeg', :class => 'ico' %></a>
								<%= image_tag 'tl.jpeg', :class => 'ico', :title => "+7 (916) 337-40-10" %>
						</td>
					</tr>
				</table>
				
				<table class="pic" id="p2"> 
					<tr>
						<td>
							<h3>Савва <br> Кузьмин</h3>
							<h4>по вопросам приобретения</h4>
								<a href="http://vkontakte.ru/savvunk"> <%= image_tag 'vk.png', :class => 'ico' %></a>
								<a href="http://twitter.com/SavvunK"><%= image_tag 'tw.jpeg', :class => 'ico' %>
								<%= image_tag 'tl.jpeg', :class => 'ico', :title => "+7 (906) 746-80-30" %>
						</td>
						<td><%= image_tag 'pic2.jpg' %></td>
					</tr>
				</table>
			<a class="biglink"  href="http://vkontakte.ru/event32771660">Приходи зажечь свой фонарик</a>	
			<h2>Design by nia</h2>
		</div>
	</body>
</html>